.gas{
  color:red;
}
.liquid{
  color:blue;
}
.unknown{
  color:green;
}
.am{
  background-color:orange;
}
.aem{
  background-color:yellow;
}
.l{
  background-color:#E9967A;
}
.a{
  background-color:purple;
}
.tm{
  background-color:#CD5C5C;
}
.pm{
  background-color:#0099cc;
}
.nm{
  background-color:green;
}
.ng{
  background-color:#5F9EA0;
}
body{
  background-color:green;
}
